/Proyecto2/redes2/Library
/Proyecto2/redes2/Temp
/Proyecto2/redes2/Logs
/Proyecto2/redes2/Build
/Proyecto2/redes2/obj
/Proyecto2/redes2/UserSettings
/Proyecto2/redes2/.vs
/Proyecto2/redes2/Assembly-CSharp.csproj
/Proyecto2/redes2/redes2.sln